{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center align-items-center login-container">

        <form  method="post" class="">
            {% csrf_token %}
            {% bootstrap_form register_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" style="background-color: dodgerblue;">Submit</button>
            {% endbuttons %}
        </form>
      <div>
        {% for message in messages %}
          <h3> {{message}}</h3>
        {% endfor %}
      </div>
      <div class="col-md-3 col-md-push-1">
          <h4>Already Register?<a href="{% url 'accounts:login' %}"> Login Here</h4>
          
      </div>
    </div>
{% endblock %}