{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}User Details{% endblock %}


{% block body %}

    <div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
        <form  method="post" class="">
            {% csrf_token %}
              {% bootstrap_form userDetails_form %}

              {{ userImage_form.management_form }}

				{% for form in userImage_form %}
					{{ form }}<break>
				{% endfor %}
                
		
		{% buttons %}
            <button type="submit" class="btn btn primary" style="background-color: dodgerblue;">Submit</button>
        {% endbuttons %}

        </form>

    </div>




{% endblock %}

